* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//Header-------------------------------
////////////////////////////////////////

.top {
    display: none;
    background-color: rgb(0, 2, 48);
    color: white;
    text-align: right;
    padding: 5px 10px;
    font-weight: bold;
    overflow: hidden;
    @media (max-width: 800px) {
        display: block;
    }
    @media (max-width: 500px) {
        font-size: 3vw;
    }
    > div {
        display: inline-block;
        background-color: rgb(255, 255, 0);
        filter: brightness(80%);

        color: black;
        transform: skewX(-45deg) scale(1.5);
        div {
            transform: skewX(45deg) scale(0.66);
        }
    }
}

header {
    padding: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 615px) {
        height: 12vw;
        padding: 3.2vw;
    }

    .logo {
        display: inline-block;
        height: 100%;

        img {
            display: inline-block;
            height: 100%;
            padding: 0 3vw;
            border-right: 1px grey solid;

            @media (max-width: 615px) {
                padding: 0;
                border: none;
            }

            @media (max-width: 800px) {
                border: none;
            }
        }
    }

    .app-name {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(2, 47, 83);
        font-weight: bold;
        font-size: 20px;
        .book-logo {
            margin-right: 10px;
            font-size: 30px;
        }
        .app-text {
            text-align: center;
            font-style: italic;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}

//------Main------------------------------
//////////////////////////////////////////

main {
    flex-grow: 1;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5) 100%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        url("libimage2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 800px) {
        padding: 30px 10px !important;
    }
}
.dept-text {
    text-align: center;
    margin-bottom: 30px;
    color: white;

    @media (max-width: 450px) {
        font-size: 25px;
    }
}
.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 40px;
    border-radius: 3px;
    overflow: auto;
    max-width: 100%;
    box-sizing: border-box;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }
    .icon {
        padding: 25px;
        border-radius: 50%;
        background-color: rgb(0, 165, 0);
    }

    .fas {
        color: White;
        font-size: 50px;
    }
    p span {
        font-weight: bold;
    }
    .books {
        display: grid;
        max-width: 100%;
        overflow: auto;
        grid-template-columns: minmax(min-content, max-content) min-content max-content;
        column-gap: 20px;
        align-items: center;
        justify-items: center;
        row-gap: 10px;
        border: rgba(0, 0, 0, 0.5) 1px solid;
        border-radius: 3px;
        padding: 10px;
    }
    .name {
        color: rgb(0, 0, 67);
        text-transform: uppercase;
        font-weight: bold;
    }
    .symbol {
        display: inline-block;
        margin-left: 3px;
    }
    .date {
        color: red;
    }
}

button {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.392);
    transition: 0.3s;
}
button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}
button:hover {
    opacity: 0.85;
}
.hide {
    max-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
